//------------VAR-----------------//
@width: 940px;
@grey: #777777;
@light-grey: #eeeeee;
@yellow:#fdcc05;
//---------Style for header------------//
header{
  height: 126px;
  max-width: @width;
  padding: 40px 0 0 0;
  margin: 0 auto;
  .logo{
    float: left;
    margin-right: 13%;
  }
  .menu{
    width: 630px;
    float: left;
    .search{
      height: 50px;
      width: 445px;
      border:#c9c9c9 solid 1px;
      float: left;
      display: block;
      input{
        padding:0;
        margin:0;
        display:block;
        border:none;
        outline:none;
        background:none;
        width:100%;
        height:100%;
      }
      .actions1{
        width:40px;
        height:50px;
        float:left;
        background:url("../img/search.png")8px 13px no-repeat;
        input{
          overflow: hidden;
          text-indent:-9999px;
          &:hover{
            cursor: pointer;
          }
        }
      }
      .search-field{
        padding:0px 5px;
        float:left;
        height:50px;
        color: @grey;
        width: 220px;
      }
      .drop-down {
        .mix-drop;
      }
      .actions2{
        width:25px;
        height:50px;
        float:left;
        background:url("../img/arrow%20.png") 0px 13px  no-repeat;
        input{
          overflow: hidden;
          text-indent:-9999px;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
    .loginform{
      height: 50px;
      border:#c9c9c9 solid 1px;
      float: left;
      width: 155px;
      display: block;
      margin: 0 0 0 25px;
      color: @grey;
      .signin{
        box-sizing: border-box;
        text-align: center;
        width:50%;
        height:100%;
        float:left;
        border-right: 1px solid #dddddd;
       // background:url("../img/man.png")8px 13px no-repeat;
        figure{
          padding: 5px 0 0 0;
        }
        &:hover{
          cursor: pointer;
        }
      }
      .login{
        text-align: center;
        width:50%;
        height:100%;
        float:left;
        //background:url("../img/login.png")8px 13px no-repeat;
        figure{
          padding: 5px 0 0 0;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
  }

  nav{
    width: 100%;
    display: block;
    float: left;
    height: 120px;
    ul{
      display: block;
      height: 100%;
      float: left;
      margin: auto;
      li{
        list-style: none;
        width: @width/8;
        float: left;
        box-sizing: border-box;
        height: 100%;
        a{
          position: relative;
          display: block;
          width: 100%;
          height: 50%;
          padding-top: 25%;
          text-align: center;
          text-decoration: none;

          figure{
            text-align: center;
            &:hover figcaption{
              color:@yellow;
              text-transform: uppercase;
            }
            &:hover img{
              visibility: hidden;
            }
            &:hover .back{
              visibility: visible;
            }
            div{
              position: relative;
              display: block;
              .back{
                visibility: hidden;
                position:absolute;
                top:0;
                left: 40%;
              }

                &:before{
                  display:block;
                  height: 3px;
                  content: ' ';
                  text-shadow: none;
                  background-color: @grey;
                  width: 40px;
                  float: left;
                  margin-top:12px;
                }
                &:after{
                  display:block;
                  height: 3px;
                  content: ' ';
                  text-shadow: none;
                  background-color: @grey;
                  width: 40px;
                  float: right;
                  margin-top:12px;
                }
            }
            figcaption{
              margin-top: 15%;
              display: block;
              text-decoration: none;
              color: @grey;
            }
          }
        }
      }
    }

  }
}
//---------End style for header--------//

//---------Style for container---------//
#container{
  width: @width;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  .wrapper{
    width: 75%;
    float: left;
    box-sizing: border-box;
    .tabs{
      width: 25%;
      float: left;
      nav{
        float: left;
        ul{
          float: left;
          li{
            text-align: center;
            display: block;
            box-sizing: border-box;
            float: left;
            border: @light-grey 1px solid;
            width: 78px;
            height: 78px;
            margin: 0 7px 7px 0;
            &:hover{
              background: @grey;
            }
            &:hover a{
              color: #ffffff;
            }
            &:hover .hide{
              visibility: visible;
            }
            &:hover img{
              visibility: hidden;
            }
            a{
              position: relative;
              display: block;
              float: left;
              height: 50%;
              text-decoration: none;
              color: @grey;
              padding-top: 25%;
              text-align: center;
              width: 100%;
              figure{
                height: 100%;
                div{
                  display: block;
                  position: relative;
                  .hide{
                    visibility: hidden;
                    position: absolute;
                    top: 0;
                    left: 33%;
                  }
                }
                figcaption{
                  display: block;

                }
              }
            }
          }
        }
      }
    }
    .slider{
      width: 75%;
      display: block;
      float: left;
      .slideshow{
        box-sizing: content-box;
        margin: 20px 0 0 0;
        display: block;
        float: left;
        width: 100%;
        height: 265px;
        background-color: white;
        background-size:cover;
        border: 1px solid @light-grey;
        .numbers{
          position: relative;
          float: right;
          ul{
            display: block;
            float: right;
            li{
              &:first-child{
                border-left: none;
              }
              &:hover{
                background:@yellow;
                cursor: pointer;
              }
              transition: background 0.5s ease 0.1s;
              display: block;
              float: left;
              background: @grey;
              color: #ffffff;
              border-left: @light-grey 1px solid;
              a{
                padding: 10px;
                display: block;
                text-decoration: none;
              }
            }
          }
        }
      }
      .slider-menu{
        display: block;
        float: left;
        width: 100%;
        nav{
          width: 100%;
          float: left;
          display: block;
          ul{
            float: left;
            display: block;
            width: 100%;
            li{
              cursor: pointer;
              width: 15%;
              float: left;
              display: block;
              border: @light-grey 1px solid;
              margin: 0 3px;
              text-align: center;
              &:hover{
                color:#ffffff;
                background-color: @grey;
                text-transform: uppercase;
              }
              span{
                padding: 5px;
                display: block;
                font-size: 12px;
              }
            }
          }
        }
      }
      .slide-info{
        display: block;
        width: 100%;
        float: left;
        box-sizing: content-box;
        height: 53px;
        border: @light-grey 1px solid;
        .about{
          display: block;
          float: left;
          width: 90%;
          padding: 10px;
          box-sizing: border-box;
          h1{
            color: @grey;
            font-weight: bold;
            font-size: 14px;
          }
          p{
            margin-top: 5px;
            font-size: 12px;
            color: @grey;
          }
        }
        .pause{
          display: block;
          float: left;
          width: 10%;
          height: 100%;
          border-left: @light-grey 1px solid;
          box-sizing: border-box;
          background: url("../img/slider/play.png") no-repeat center;

        }
      }
    }
    .title-news{
      width: 75%;
      display: block;
      float: left;
      height: 30px;
      margin: 12px 0 0 0;
      .news-form{
        height: inherit;
        display: block;
        float: left;
        border: @light-grey 1px solid;
        box-sizing:content-box;
        width: 100%;
        .latest{
          float: left;
          padding-left: 10px;
          height: 100%;
          line-height: 30px;
          input{
            height: 100%;
            font-weight: bold;
            font-size: 12px;
            color: @grey;
            border: none;
            background: none;

          }
          &:hover input{
            cursor: pointer;
            color: @yellow;
          }
          &:hover:before{
            content: url("../img/news/latest_yel.png");
          }
          &:before{
            position: relative;
            top: 10%;
            content: url("../img/news/latest_gr.png");
          }
        }
        .news-drop{
          font-size: 12px;
          span{
            line-height: 30px !important;
          }
          .mix-drop;
        }
        ul{
          height: 100%;
          width:60px;
          display: block;
          float: right;
          .news-view{
            height: 100%;
            width: 30px;
            display: block;
            float: right;
            border: none;
          }

          .list{
            background:@grey url("../img/news/list.png") no-repeat center;
          }
          .grid{
            background:@grey url("../img/news/grid.png") no-repeat center;
          }
          }
        }
      }
    }


  .play{
    background: url("../img/slider/pause.png") no-repeat center !important;
  }
  .active-nav{
    background-color: @grey;
    color: #ffffff;
  }
  .active-tab{
    background-color: @grey;
  }
  .feed{
    width: 25%;
    float: left;
  }
}
//---------Mixings----------------------
.active-view{
  background-color: @yellow !important;
}
.mix-drop{
  color: @grey;
  max-width: 140px;
  position: relative;
  float:left;
  height: inherit;
  span{
    line-height: 50px;
    padding: 0 10px;
    border-left: #dddddd 1px solid;
    border-right: #dddddd 1px solid;
    &:after{
      content: '\25bc';
      //content: '▶';
      color: #dddddd;
      cursor: pointer;
    }
  }
  &:hover ul{
    opacity: 1;
    visibility: visible;
    background: #fbfbfb;
  }
  ul{
    padding:0;
    width: 100%;
    list-style: none;
    float: left;
    opacity: 0;
    position: relative;
    visibility: hidden;
    z-index: 1000000;
    transition: all .25s ease;
    li{
      float: none;
      width: 100%;
      cursor: pointer;
      &:hover{
        background: @yellow;
      }
      a{
        line-height: normal;
        text-decoration: none;
        color: @grey;
      }
    }
  }
}